body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: #F25C05;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

header.transparent {
    background-color: rgba(51, 51, 51, 0.7);
}

#main-header.show-header {
    transform: translateY(-100%);
}

#main-header.scrolled {
    background-color: rgba(255, 164, 90, 0.9);
    padding: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: bold;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .logo img {
        height: 30px;
    }
    nav ul li {
        margin-right: 10px;
    }
    .banner h1 {
        font-size: 2em;
    }
    .banner p {
        font-size: 1.2em;
    }
}

.container-box body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 400px;
}

.box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: calc(20% - 15px);
}

.box img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: block;
    object-fit: cover;
}

.box p {
    margin: 10px 0;
    font-size: 10px;
    text-align: left;
}

.box h6 {
    margin: 5px 0; 
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
