.banner {
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    overflow: hidden;
    position: relative;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, transparent 49%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner h1, .banner p {
    margin: 0;
    padding: 10px;
}

.banner {
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }
    .banner p {
        font-size: 1.2em;
    }
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
}

.pagination-info {
    flex: 1;
    color: black;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-controls label {
    margin-right: 10px;
}

.rounded-select {
    border-radius: 20px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    outline: none;
    appearance: none;
    background-color: white;
    background-image: url('https://img1.pngdownload.id/20180802/kvg/kisspng-scalable-vector-graphics-computer-file-clip-art-tr-inverted-triangle-5b62ce4a388777.8967990515332019942316.jpg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    width: 120px;
    text-align: left;
}

.rounded-select::-ms-expand {
    display: none;
}

.rounded-select::after {
    content: "";
    background-image: url('data:image/svg+xml;base64,...');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.pagination-controls label {
    margin-right: 5px;
    color: black;
}

.pagination-controls select {
    margin-left: 10px;
    padding: 5px;
    font-size: 15px;
}

.pagination-container-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-btn {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #ddd;
}

.pagination-btn.active {
    background-color: #F25C05;
    color: white;
    border: 1px solid #F25C05;
}

.pagination-btn:disabled {
    cursor: not-allowed;
    color: #ccc;
    border: 1px solid #ccc;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
